*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    background-color: rgb(250, 100, 30); 
}

li,a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.nav-links{
    list-style: none;
    position: relative;
    left: 400px;
}

.nav-links li{
    display: inline-block;
    margin: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: dimgrey;
}

.logo-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.logo{
    width: 30px;
    height: 30px;
}

.cape{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding-left: 12px;
}

.user-portrait{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}